section {
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    flex-direction:column;
    height:auto; 
    width:100%;
    padding: 6% 0;
    background-color: whitesmoke;
  }

.list {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: black;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    flex-direction:row;
    margin: 5%;
}