body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }
  
  section {
    display: table;
    width: 100%;
    height: auto;
    padding: 6% 0;
    background-color: whitesmoke;
  }

.list {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
    line-height: 1;
    margin: 5%;
}

.float {
    max-width: 1200px;
    margin: 0 auto;
}

.float:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.float-item {
    float: left;
}
  