* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  text-align: center;
  line-height: 1;
}

header {
  margin-top: 8%;
  padding: 15px;
  width: 100%;
  text-align: center;
  background: #102b57;
  color: white;
  font-size: 30px;
}