nav{
  padding: 1% 0;
  background-color: rgb(206, 204, 204);
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(206, 204, 204);
}

nav li {
  float: right;
  font-size: 100%;
  border-left:1px solid rgb(129, 128, 128);
}

li a {
  display: block;
  color: #000052;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

li a:hover {
  background-color: #ddd;
}
